doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description' content='A web app that helps you reword sentences by suggesting synonyms as quickly as you can type. Be prepared to sound smarter.')
    title Rewordy
    <!-- WYLO .... Normally you'd link bootstrap.min.css here, but you should read more about webpack... -->
  body
    block content
      block scripts